{{#section 'js'}}
<script>
    function checkConfirmPassword()=>{
        const pass = $("#password_raw").val();
        const Cpass = $('#Cpassword_raw').val();

        const check = pass.locateCompare(Cpass);
        console.log(check);
        if (check  === 0)
            return true;
        return false;

    }
</script>
{{/section}}
<div class="container">
    <form method="POST" onclick='return checkConfirmPassword();'>
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" class="form-control" id="Username" name="Username" value="{{authUser.Username}}" readonly>
        </div>
        <div class="form-group">
            <label for="password_raw">Password</label>
            <input type="password" class="form-control" id="password_raw" name="password_raw">
        </div>
        <div class="form-group">
            <label for="Cpassword_raw">Confirm Password</label>
            <input type="password" class="form-control" id="Cpassword_raw" >
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="check">
            <label class="form-check-label" for="check">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" formaction="/user/changePass/{{authUser.UserID}}">Submit</button>
    </form>
</div>