<div class="container mb-5">
    <div class='text-center'>
        <p class="h2 font-weight-bold">
            Sorry, this page could not be found. Please go back <br>
            <a href="/">
                <i class="fa fa-home text-success" aria-hidden="true">
                    Home page.
                </i>
            </a>
        </p>
        <p class="float-right">
            We really apologize for this inconvenient.
        </p>
    </div>
</div>