<div class="container">
    <form method="POST">
        <div class="form-group">
            <label for="Email">Email address</label>
            <input type="text" class="form-control" id="Email" name="Email">
            <small id="emailHelp" class="form-text text-muted">Give us your email, we'll help you.</small>
        </div>
        <button type="submit" class="btn btn-primary" formaction="/forgetPass">Submit</button>
    </form>
</div>