<div class="container">
    <h2>Find your account</h2>
    <div class="phl ptm identify_yourself_block">
        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <small>Vui lòng nhập email hoặc số điện thoại để tìm kiếm tài khoản.</small>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="inputtext" id="identify_email" name="email" placeholder="Số điện thoại hoặc email" autofocus="1" aria-label="Số điện thoại hoặc email"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit">Tìm kiếm</button>
    <button type="submit">Hủy</button>
</div>
