    <div class="container">
        <div>
            <p class="h3 d-flex justify-content-center mt-5">Các sản phẩm sắp hết thời gian đấu giá</p>
        </div>
        <div class="row">
            <div class="card-deck mt-5">
                <div class="card">
                    <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class=" card-title d-flex justify-content-between">
                            <h3 class="card-title">Điện Thoại</h3>
                            <span class="h3">$ 300
                                            </span>
                        </div>
                        <div class="card-text">
                            <ul style="list-style-type: none;">
                                <li>
                                    <span class="d-flex justify-content-end">
                                                                <div class="card bg-danger text-white">
                                                                    <h5 class="card-title text-center">
                                                                    <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                        <a><span class="badge day" id="day"></span></a>
                                    <a><span class="badge hours" id="hour"></span></a>
                                    <a><span class="badge min" id="min"></span></a>
                                    <a><span class="badge sec" id="sec"></span></a>
                        </div>
                        </h5>
                    </div>
                    </span>
                    </li>
                    <li class="mt-2">Bidder:
                        <a href=""> <strong> Nico Orn</strong></a>
                    </li>
                    <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
                    <li>
                        Số lượng lượt ra giá: <strong> 30</strong>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
            <div class="card-body">
                <div class=" card-title d-flex justify-content-between">
                    <h3 class="card-title">Điện Thoại</h3>
                    <span class="h3">$ 300
                                        </span>
                </div>
                <div class="card-text">
                    <ul style="list-style-type: none;">
                        <li>
                            <span class="d-flex justify-content-end">
                                                            <div class="card bg-danger text-white">
                                                                <h5 class="card-title text-center">
                                                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                    <a><span class="badge day" id="day"></span></a>
                            <a><span class="badge hours" id="hour"></span></a>
                            <a><span class="badge min" id="min"></span></a>
                            <a><span class="badge sec" id="sec"></span></a>
                </div>
                </h5>
            </div>
            </span>
            </li>
            <li class="mt-2">Bidder:
                <a href=""> <strong> Nico Orn</strong></a>
            </li>
            <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
            <li>
                Số lượng lượt ra giá: <strong> 30</strong>
            </li>
            </ul>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
        <div class="card-body">
            <div class=" card-title d-flex justify-content-between">
                <h3 class="card-title">Điện Thoại</h3>
                <span class="h3">$ 300
                                            </span>
            </div>
            <div class="card-text">
                <ul style="list-style-type: none;">
                    <li>
                        <span class="d-flex justify-content-end">
                                                                <div class="card bg-danger text-white">
                                                                    <h5 class="card-title text-center">
                                                                    <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                        <a><span class="badge day" id="day"></span></a>
                        <a><span class="badge hours" id="hour"></span></a>
                        <a><span class="badge min" id="min"></span></a>
                        <a><span class="badge sec" id="sec"></span></a>
            </div>
            </h5>
        </div>
        </span>
        </li>
        <li class="mt-2">Bidder:
            <a href=""> <strong> Nico Orn</strong></a>
        </li>
        <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
        <li>
            Số lượng lượt ra giá: <strong> 30</strong>
        </li>
        </ul>
    </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="card-deck mt-5">
            <div class="card">
                <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class=" card-title d-flex justify-content-between">
                        <h3 class="card-title">Điện Thoại</h3>
                        <span class="h3">$ 300
                                            </span>
                    </div>
                    <div class="card-text">
                        <ul style="list-style-type: none;">
                            <li>
                                <span class="d-flex justify-content-end">
                                                                <div class="card bg-danger text-white">
                                                                    <h5 class="card-title text-center">
                                                                    <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                        <a><span class="badge day" id="day"></span></a>
                                <a><span class="badge hours" id="hour"></span></a>
                                <a><span class="badge min" id="min"></span></a>
                                <a><span class="badge sec" id="sec"></span></a>
                    </div>
                    </h5>
                </div>
                </span>
                </li>
                <li class="mt-2">Bidder:
                    <a href=""> <strong> Nico Orn</strong></a>
                </li>
                <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
                <li>
                    Số lượng lượt ra giá: <strong> 30</strong>
                </li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
        <div class="card-body">
            <div class=" card-title d-flex justify-content-between">
                <h3 class="card-title">Điện Thoại</h3>
                <span class="h3">$ 300
                                        </span>
            </div>
            <div class="card-text">
                <ul style="list-style-type: none;">
                    <li>
                        <span class="d-flex justify-content-end">
                                                            <div class="card bg-danger text-white">
                                                                <h5 class="card-title text-center">
                                                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                    <a><span class="badge day" id="day"></span></a>
                        <a><span class="badge hours" id="hour"></span></a>
                        <a><span class="badge min" id="min"></span></a>
                        <a><span class="badge sec" id="sec"></span></a>
            </div>
            </h5>
        </div>
        </span>
        </li>
        <li class="mt-2">Bidder:
            <a href=""> <strong> Nico Orn</strong></a>
        </li>
        <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
        <li>
            Số lượng lượt ra giá: <strong> 30</strong>
        </li>
        </ul>
    </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
        <div class="card-body">
            <div class=" card-title d-flex justify-content-between">
                <h3 class="card-title">Điện Thoại</h3>
                <span class="h3">$ 300
                                            </span>
            </div>
            <div class="card-text">
                <ul style="list-style-type: none;">
                    <li>
                        <span class="d-flex justify-content-end">
                                                                <div class="card bg-danger text-white">
                                                                    <h5 class="card-title text-center">
                                                                    <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                        <a><span class="badge day" id="day"></span></a>
                        <a><span class="badge hours" id="hour"></span></a>
                        <a><span class="badge min" id="min"></span></a>
                        <a><span class="badge sec" id="sec"></span></a>
            </div>
            </h5>
        </div>
        </span>
        </li>
        <li class="mt-2">Bidder:
            <a href=""> <strong> Nico Orn</strong></a>
        </li>
        <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
        <li>
            Số lượng lượt ra giá: <strong> 30</strong>
        </li>
        </ul>
    </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="card-deck mt-5">
            <div class="card">
                <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class=" card-title d-flex justify-content-between">
                        <h3 class="card-title">Điện Thoại</h3>
                        <span class="h3">$ 300
                                            </span>
                    </div>
                    <div class="card-text">
                        <ul style="list-style-type: none;">
                            <li>
                                <span class="d-flex justify-content-end">
                                                                <div class="card bg-danger text-white">
                                                                    <h5 class="card-title text-center">
                                                                    <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                        <a><span class="badge day" id="day"></span></a>
                                <a><span class="badge hours" id="hour"></span></a>
                                <a><span class="badge min" id="min"></span></a>
                                <a><span class="badge sec" id="sec"></span></a>
                    </div>
                    </h5>
                </div>
                </span>
                </li>
                <li class="mt-2">Bidder:
                    <a href=""> <strong> Nico Orn</strong></a>
                </li>
                <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
                <li>
                    Số lượng lượt ra giá: <strong> 30</strong>
                </li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
        <div class="card-body">
            <div class=" card-title d-flex justify-content-between">
                <h3 class="card-title">Điện Thoại</h3>
                <span class="h3">$ 300
                                        </span>
            </div>
            <div class="card-text">
                <ul style="list-style-type: none;">
                    <li>
                        <span class="d-flex justify-content-end">
                                                            <div class="card bg-danger text-white">
                                                                <h5 class="card-title text-center">
                                                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                    <a><span class="badge day" id="day"></span></a>
                        <a><span class="badge hours" id="hour"></span></a>
                        <a><span class="badge min" id="min"></span></a>
                        <a><span class="badge sec" id="sec"></span></a>
            </div>
            </h5>
        </div>
        </span>
        </li>
        <li class="mt-2">Bidder:
            <a href=""> <strong> Nico Orn</strong></a>
        </li>
        <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
        <li>
            Số lượng lượt ra giá: <strong> 30</strong>
        </li>
        </ul>
    </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
        <div class="card-body">
            <div class=" card-title d-flex justify-content-between">
                <h3 class="card-title">Điện Thoại</h3>
                <span class="h3">$ 300
                                            </span>
            </div>
            <div class="card-text">
                <ul style="list-style-type: none;">
                    <li>
                        <span class="d-flex justify-content-end">
                                                                <div class="card bg-danger text-white">
                                                                    <h5 class="card-title text-center">
                                                                    <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                        <a><span class="badge day" id="day"></span></a>
                        <a><span class="badge hours" id="hour"></span></a>
                        <a><span class="badge min" id="min"></span></a>
                        <a><span class="badge sec" id="sec"></span></a>
            </div>
            </h5>
        </div>
        </span>
        </li>
        <li class="mt-2">Bidder:
            <a href=""> <strong> Nico Orn</strong></a>
        </li>
        <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
        <li>
            Số lượng lượt ra giá: <strong> 30</strong>
        </li>
        </ul>
    </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    </div>
    </div>
    </div>
    </div>

    <nav aria-label="Page" class="d-flex justify-content-center mt-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
 