    <div class="container">
        <div class="card mb-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="./img/old_phone.jpg" style="width: 360px; height:360px;" id="show" alt="Dien tu" class="mb-5">
                    <div id="picProduct" class="carousel slide carousel-multi-item d-flex justify-content-center align-items-center" data-ride="carousel">
                        <!--Controls-->
                        <div class="controls-top mr-3">
                            <a class="btn-floating" href="#picProduct" data-slide="prev">
                                <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!--/.Controls-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="#" onclick="showPic(0)"><img class="card-img-top" src="./img/old_phone2.jpg" alt="Card image cap"></a>
                                    </div>

                                    <div class="col-4">
                                        <a href="#" onclick="showPic(1)"><img class="card-img-top" src="./img/old_phone3.jpg" alt="Card image cap"></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#" onclick="showPic(2)"><img class="card-img-top" src="./img/old_phone4.jpeg" alt="Card image cap"></a>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="#" onclick="showPic(3)"><img class="card-img-top" src="./img/old_phone4.jpg" alt="Card image cap"></a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="#" onclick="showPic(4)"><img class="card-img-top" src="./img/old_phone6.jpg" alt="Card image cap"></a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="#" onclick="showPic(5)"><img class="card-img-top" src="./img/old_phone.jpg" alt="Card image cap"></a>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->

                        </div>
                        <!--/.Slides-->
                        <div class="controls-top ml-3">
                            <a class="btn-floating" href="#picProduct" data-slide="next">
                                <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class=" card-title d-flex justify-content-between">
                            <h1 class="card-title">Old Phone</h1>
                            <span class="h1">$ 300
                        </span>

                        </div>
                        <br>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, facilis ex possimus dignissimos omnis atque quidem et nam harum optio asperiores libero quisquam hic praesentium porro repellat perspiciatis accusamus vitae.
                        </p>
                        <span class="d-flex justify-content-end">
                                <div class="card bg-danger text-white">
                                    <h3 class="card-title text-center">
                                    <div class="d-flex flex-wrap justify-content-center mt-2">
                                        <a><span class="badge day" id="day"></span></a> :
                        <a><span class="badge hours" id="hour"></span></a> :
                        <a><span class="badge min" id="min"></span></a> :
                        <a><span class="badge sec" id="sec"></span></a>
                    </div>
                    </h3>
                </div>
                </span>

                <p class="card-text mb-3">
                    Points: <span class="h1 text-info"> 30 </span>

                    <a href="#">
                        <i class="fa fa-arrow-up fa-2x text-success"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-arrow-down fa-2x text-dark"></i>
                    </a>
                    <br> Date: <strong>Thu Nov 14 2019 14:02:05 GMT+0700 (Indochina Time)</strong> <br> Owner:
                    <a href="#"> <strong> Marina Gleason </strong> </a> <br> Point's Owner: <strong>12 </strong>
                    <hr> Bidder's highest price:
                    <a href="#"> <strong>Donald Spinka</strong> </a> <br> Bidder's points: <strong>2007</strong>
                </p>
                <hr>
                <p class="card-text">How much do you want to bid??</p>
                <div class="input-group mb-3">
                    <div class="input-group">
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="400">
                                <button type="button" class="btn btn-danger m-0 rounded-right-button">
                                        <i class="fa fa-gavel" aria-hidden="true"> Bid </i>
                                    </button>
                            </div>
                        </div>
                    </div>

                </div>

                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <!-- /summary-->
    <div class="mb-10">
        <p class="h3">Detail</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptas eaque cupiditate consequatur alias voluptatibus enim perspiciatis, quos aut aliquid maiores ipsum tempora sit fuga, rem nobis dolorum! Iure, nemo. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Cumque quidem atque modi, aperiam mollitia sequi! Mollitia, facilis dignissimos similique sequi, veritatis blanditiis eveniet eaque neque nulla adipisci deserunt iusto enim. Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Repellendus quidem eveniet voluptatem laudantium, odit dicta vel laboriosam corrupti quis tempore doloribus quod et placeat natus quos! Nam voluptates totam quo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, culpa dolorum
        enim nostrum, perspiciatis neque tenetur illum corporis asperiores saepe molestiae ea aut vero sequi quis eius tempore a pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut asperiores incidunt fugiat quibusdam, ex voluptatibus
        quidem, corporis explicabo, quod quisquam. Dolore laudantium fugit suscipit temporibus necessitatibus aspernatur at provident. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis labore ex rerum odio odit, dolorum quia, exercitationem
        officiis tempora, rem nemo dolores dolore magni! Cumque dignissimos nobis eum! Repudiandae, magnam!
    </div>
    </div>
    <hr>
    <div class="h3 d-flex justify-content-center mb-5">Products you may considerate</div>
    <div class="mt-10">
        <div id="multi-item-example_bot" class="carousel slide carousel-multi-item d-flex justify-content-center align-items-center" data-ride="carousel">
            <!--Controls-->
            <div class="controls-top mr-3">
                <a class="btn-floating" href="#multi-item-example_bot" data-slide="prev">
                    <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example_bot" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example_bot" data-slide-to="1"></li>
                <li data-target="#multi-item-example_bot" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Second slide-->
                <!--Third slide-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Third slide-->

            </div>
            <!--/.Slides-->
            <div class="controls-top ml-3">
                <a class="btn-floating" href="#multi-item-example_bot" data-slide="next">
                    <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    </div>
