<div class="d-flex justify-content-center">
    <p class="h1">Please fill information</p>
</div>
<form>
    <div class="form-row">
        <label>Full name</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="John Willson" />
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Date of Birth: </label>
            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                <input class="form-control" type="text" id="datepicker" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Sex: </label> <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Male">
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Female">
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <div class="input-group">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
                <div class="input-group-prepend">
                    <div class="input-group-text">@gmail.com</div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" />
    </div>
    <div class="form-group">
        <label for="inputAddress2">Phone number</label>
        <input type="text" class="form-control" id="phone" placeholder="739-247-6882" />
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
