<div class="container">
    <div class="d-flex justify-content-center">
        <p class="h1">Watch List</p>
    </div>
    <div class="row">
        <div class="card-deck mt-5">
            <div class="card">
                <a href="./product.html" target="_blank" class="text-dark">
                    <img class="card-img-top" src="./img/gshock.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class=" card-title d-flex justify-content-between">
                            <h3 class="card-title">Watch</h3>
                            <span class="h3">$ 200
                                        </span>
                        </div>
                        <div class="card-text">
                            <ul style="list-style-type: none;">
                                <li>
                                    <span class="d-flex justify-content-end">
                                                            <div class="card bg-danger text-white">
                                                                <h5 class="card-title text-center">
                                                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                    <a><span class="badge day" id="day"></span></a>
                <a><span class="badge hours" id="hour"></span></a>
                <a><span class="badge min" id="min"></span></a>
                <a><span class="badge sec" id="sec"></span></a>
                </div>
                </h5>
                </div>
                </span>
                </li>
                <li class="mt-2">Bidder:
                    <a href=""> <strong> Nico Orn</strong></a>
                </li>
                <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
                <li>
                    Số lượng lượt ra giá: <strong> 30</strong>
                </li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        </a>
    </div>
    <div class="card">
        <a href="./product.html" target="_blank" class="text-dark">
            <img class="card-img-top" src="./img/gift.jpeg" alt="Card image cap">
            <div class="card-body">
                <div class=" card-title d-flex justify-content-between">
                    <h3 class="card-title">Gift</h3>
                    <span class="h3">$ 100
                                        </span>
                </div>
                <div class="card-text">
                    <ul style="list-style-type: none;">
                        <li>
                            <span class="d-flex justify-content-end">
                                                            <div class="card bg-danger text-white">
                                                                <h5 class="card-title text-center">
                                                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                    <a><span class="badge day" id="day"></span></a>
        <a><span class="badge hours" id="hour"></span></a>
        <a><span class="badge min" id="min"></span></a>
        <a><span class="badge sec" id="sec"></span></a>
        </div>
        </h5>
        </div>
        </span>
        </li>
        <li class="mt-2">Bidder:
            <a href=""> <strong>Charley Green</strong></a>
        </li>
        <li>Ngày đăng sản phẩm: <strong>Fri Nov 22 2019 06:02:30 GMT+0700 (Indochina Time)</strong> </li>
        <li>
            Số lượng lượt ra giá: <strong> 15</strong>
        </li>
        </ul>
    </div>
</div>
<div class="card-footer">
    <small class="text-muted">Last updated 10 hours ago</small>
</div>
</a>
</div>
<div class="card">
    <img class="card-img-top" src="./img/CHMAS_KIDS_1.jpg" alt="Card image cap">
    <div class="card-body">
        <div class=" card-title d-flex justify-content-between">
            <h3 class="card-title">Christmas Cloth</h3>
            <span class="h3">$ 50
                                        </span>
        </div>
        <div class="card-text">
            <ul style="list-style-type: none;">
                <li>
                    <span class="d-flex justify-content-end">
                                                            <div class="card bg-danger text-white">
                                                                <h5 class="card-title text-center">
                                                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                    <a><span class="badge day" id="day"></span></a>
                    <a><span class="badge hours" id="hour"></span></a>
                    <a><span class="badge min" id="min"></span></a>
                    <a><span class="badge sec" id="sec"></span></a>
        </div>
        </h5>
    </div>
    </span>
    </li>
    <li class="mt-2">Bidder:
        <a href=""> <strong>Claude Huels</strong></a>
    </li>
    <li>Ngày đăng sản phẩm: <strong>Wed Dec 19 2018 18:45:11 GMT+0700 (Indochina Time) </strong> </li>
    <li>
        Số lượng lượt ra giá: <strong> 30</strong>
    </li>
    </ul>
</div>
</div>
<div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="card-deck mt-5">
        <div class="card">
            <img class="card-img-top" src="./img/christ-mas-clothes2.jpg" alt="Card image cap">
            <div class="card-body">
                <div class=" card-title d-flex justify-content-between">
                    <h3 class="card-title">Christmas cloth</h3>
                    <span class="h3">$ 450
                                        </span>
                </div>
                <div class="card-text">
                    <ul style="list-style-type: none;">
                        <li>
                            <span class="d-flex justify-content-end">
                                                            <div class="card bg-danger text-white">
                                                                <h5 class="card-title text-center">
                                                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                    <a><span class="badge day" id="day"></span></a>
                            <a><span class="badge hours" id="hour"></span></a>
                            <a><span class="badge min" id="min"></span></a>
                            <a><span class="badge sec" id="sec"></span></a>
                </div>
                </h5>
            </div>
            </span>
            </li>
            <li class="mt-2">Bidder:
                <a href=""> <strong>Dusty Kemmer</strong></a>
            </li>
            <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
            <li>
                Số lượng lượt ra giá: <strong> 30</strong>
            </li>
            </ul>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="./img/christmas_dress.jpg" alt="Card image cap">
    <div class="card-body">
        <div class=" card-title d-flex justify-content-between">
            <h3 class="card-title">Christmas Dress</h3>
            <span class="h3">$ 1000
                                    </span>
        </div>
        <div class="card-text">
            <ul style="list-style-type: none;">
                <li>
                    <span class="d-flex justify-content-end">
                                                        <div class="card bg-danger text-white">
                                                            <h5 class="card-title text-center">
                                                            <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                <a><span class="badge day" id="day"></span></a>
                    <a><span class="badge hours" id="hour"></span></a>
                    <a><span class="badge min" id="min"></span></a>
                    <a><span class="badge sec" id="sec"></span></a>
        </div>
        </h5>
    </div>
    </span>
    </li>
    <li class="mt-2">Bidder:
        <a href=""> <strong>Kayleigh Pagac</strong></a>
    </li>
    <li>Ngày đăng sản phẩm: <strong>Fri Nov 15 2019 06:55:42 GMT+0700 (Indochina Time) </strong> </li>
    <li>
        Số lượng lượt ra giá: <strong> 30</strong>
    </li>
    </ul>
</div>
</div>
<div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
</div>
</div>
<div class="card">
    <img class="card-img-top" src="./img/christmas_sweeter.jpg" alt="Card image cap">
    <div class="card-body">
        <div class=" card-title d-flex justify-content-between">
            <h3 class="card-title">Điện Thoại</h3>
            <span class="h3">$ 20
                                        </span>
        </div>
        <div class="card-text">
            <ul style="list-style-type: none;">
                <li>
                    <span class="d-flex justify-content-end">
                                                            <div class="card bg-danger text-white">
                                                                <h5 class="card-title text-center">
                                                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                                                    <a><span class="badge day" id="day"></span></a>
                    <a><span class="badge hours" id="hour"></span></a>
                    <a><span class="badge min" id="min"></span></a>
                    <a><span class="badge sec" id="sec"></span></a>
        </div>
        </h5>
    </div>
    </span>
    </li>
    <li class="mt-2">Bidder:
        <a href=""> <strong>Agnes Douglas</strong></a>
    </li>
    <li>Ngày đăng sản phẩm: <strong>Thu Nov 21 2019 11:23:38 GMT+0700 (Indochina Time)</strong> </li>
    <li>
        Số lượng lượt ra giá: <strong> 30</strong>
    </li>
    </ul>
</div>
</div>
<div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
</div>
</div>
</div>
</div>
</div>

<nav aria-label="Page" class="d-flex justify-content-center mt-5">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
