<div class="container">
    <div class="card">
        <div class="card-header">
            Add categories
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label for="txtCatName">Name categories</label>
                    <input type="text" name="Username" class="form-control" id="txtCatName" placeholder="Sam sung" autofocus>
                </div>
            <button type="submit" class="btn btn-outline-success">
                <i class="fa fa-check" aria-hidden="true">Confirm</i>
            </button>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>