<div class="container">
            {{#if this.emptySeller}}
            <div class="card-body">
                <p class="card-text">
                    No data available
                </p>
            </div>
            {{else this.seller}}
            <p class="h2 d-flex justify-content-center">Danh sách Seller</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">User name</th>
                        <th scope="col">Point</th>
                        <th scope="col">Product sold</th>
                        <th scope="col">Down</th>
                    </tr>
                </thead>
                <tbody>
                    <form action="/admin/deleteSeller">
                        <tr>
                            <th scope="row">*</th>
                            <td>{{SellerID}}</td>
                            <td>{{Username}}</td>
                            <td>{{Point}}</td>
                            <td>32</td>
                            <td>
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
            {{/if}}
        </div>
    </div>
</div>